@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Prompt:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(6,6,59,1) 88%, rgba(3,93,110,1) 100%);
}

header {
  position: fixed;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}
.back-video {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}
.img-profile {
  max-width: 20%;
  margin: 20px;
  display: inline-block;
  margin-left: 10px;
  animation: animation1 5s ease 0s normal none;
}

.img-profile-About-ME {
  max-width: 50%;
  max-height: auto;
  min-width: 200px;
  min-height: auto;
  margin: 20px;
  display: inline-block;
  animation: animation1 5s ease 0s normal none;
  border-radius: 30px 30px 30px 30px;
  margin-top: 5%;
  -webkit-border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  animation: animation1 5s ease 0s normal none;
  animation: animation2 4s ease 0s normal infinite;
  -webkit-box-shadow: 0px 0px 105px 45px rgba(76, 117, 199, 0.9);
  -moz-box-shadow: 0px 0px 105px 45px rgba(76, 117, 199, 0.9);
  box-shadow: 0px 0px 105px 45px rgba(76, 117, 199, 0.9);
}

.card-content {
  margin: 10%;
  background-color: rgb(34, 34, 35);
  border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  animation: animation1 5s ease 0s normal none;
  animation: animation2 4s ease 0s normal infinite;
  -webkit-box-shadow: 0px 0px 105px 45px rgba(76, 117, 199, 0.9);
  -moz-box-shadow: 0px 0px 105px 45px rgba(76, 117, 199, 0.9);
  box-shadow: 0px 0px 105px 45px rgba(76, 117, 199, 0.9);
}
.card-Head {
  font-family: Bebas Neue;
  animation: animation1 5s ease 0s normal none;
  color: aliceblue;
  margin-top: 50px;
}
.text-Profile {
  display: inline-block;
  font-family: Bebas Neue;
  font-size: 40px;
  animation: animation1 5s ease 0s normal none;
  color: aliceblue;
  margin-left: 10px;
}

.text-About-ME {
  display: inline-block;
  font-family: Prompt;
  font-size: 50px;
  animation: animation1 5s ease 0s normal none;
  color: aliceblue;
  margin-left: 20px;
  margin-top: 10%;
}

.text-caption-Profile {
  display: inline-block;
  font-family: Prompt;
  font-size: 20px;
  margin-left: 20px;
  animation: animation1 5s ease 0s normal none;
  color: aliceblue;
}

.img-school-About-ME {
  max-width: 10%;
  display: inline-block;
  margin-left: 10px;
  animation: animation1 5s ease 0s normal none;
  border-radius: 50% 50% 50% 50%;
  margin-top: 5%;
  -moz-border-radius: 50px 50px 50px 50px;
  animation: animation1 5s ease 0s normal none;
  animation: animation2 4s ease 0s normal infinite;
  -webkit-box-shadow: 0px 0px 105px 45px rgba(76, 117, 199, 0.9);
  -moz-box-shadow: 0px 0px 105px 45px rgba(76, 117, 199, 0.9);
  box-shadow: 0px 0px 105px 45px rgba(76, 117, 199, 0.9);
}

.head-text-caption-About-ME {
  display: inline-block;
  font-family: Prompt;
  font-size: 30px;
  margin-left: 20px;
  animation: animation1 5s ease 0s normal none;
  color: aliceblue;
}

.text-caption-About-ME {
  display: inline-block;
  font-family: Prompt;
  font-size: 20px;
  margin-left: 20px;
  animation: animation1 5s ease 0s normal none;
  color: aliceblue;
}
.scrll-box-METASCORE {
  font-family: Prompt;
  border-radius: 31px 31px 31px 31px;
  -webkit-border-radius: 31px 31px 31px 31px;
  -moz-border-radius: 31px 31px 31px 31px;
  height: auto;
}
.card-text-Profile {
  display: inline-block;
  animation: animation1 5s ease 0s normal none;
  color: aliceblue;
}
.head-Project {
  display: inline-block;
  font-family: Prompt;
  font-size: 30px;
  margin-left: 20px;
  animation: animation1 5s ease 0s normal none;
  color: aliceblue;
}
.head-Certificate{
  display: inline-block;
  font-family: Prompt;
  font-size: 30px;
  margin-left: 20px;
  animation: animation1 5s ease 0s normal none;
  color: aliceblue;
}
.footer {
  position: relative;
  width: 100%;
  background: black;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}
.scrll-num {
  font-family: Prompt;
  margin-left: 10px;
}
.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://cdn.discordapp.com/attachments/1030026287798042636/1152177838544388106/wave_1_1.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }

  100% {
    background-positon-x: 0px;
  }
}


@keyframes animation1 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }

}

@keyframes animation2 {
  0% {
    -webkit-box-shadow: 0px 0px 105px 45px rgba(76, 117, 199, 0.9);
    -moz-box-shadow: 0px 0px 105px 45px rgba(76, 117, 199, 0.9);
    box-shadow: 0px 0px 105px 45px rgba(76, 117, 199, 0.9);
  }

  50% {
    -webkit-box-shadow: 0px 0px 50px 35px rgba(76, 117, 199, 0.9);
    -moz-box-shadow: 0px 0px 50px 35px rgba(76, 117, 199, 0.9);
    box-shadow: 0px 0px 50px 35px rgba(76, 117, 199, 0.9);
  }

  100% {
    -webkit-box-shadow: 0px 0px 105px 45px rgba(76, 117, 199, 0.9);
    -moz-box-shadow: 0px 0px 105px 45px rgba(76, 117, 199, 0.9);
    box-shadow: 0px 0px 105px 45px rgba(76, 117, 199, 0.9);
  }

}

.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}
